<ion-view title="Catalogo" id="page6">
  <ion-content padding="true" class="has-header">
    <form id="catalogo-form5" class="list">
      <label class="item item-input" id="catalogo-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
    </form>
    <div>
      <a style="display:block;" ui-sref="tabsController.evento">
        <img src="img/9enFyBOhReGYsEXoDj14_toc-toc-teatro-libre-chapinero-bogota-2016-featured-800x351.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div>
      <a style="display:block;" href="#" onclick="window.open('https://www.atrapalo.com.co/entradas/el-pastorcito-mentiroso-_e92829/', '_system', 'location=yes'); return false;">
        <img src="img/eF8GMfTtQXih3ejorwc6_vertic_880_0.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
    <div class="spacer" style="width: 300px; height: 8px;"></div>
    <div>
      <a style="display:block;" href="#" onclick="window.open('http://www.banrepcultural.org/barranquilla/evento/obra-viva', '_system', 'location=yes'); return false;">
        <img src="img/k8hfQRQQmycqHg1KxMWx_ley_pattern_15.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
      </a>
    </div>
  </ion-content>
</ion-view>