<ion-view title="Evento" id="page8">
  <ion-content padding="true" class="has-header">
    <div>
      <img src="img/PT1BDpRgazs3kB6V1Bg5_9enFyBOhReGYsEXoDj14_toc-toc-teatro-libre-chapinero-bogota-2016-featured-800x351.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="evento-container1">
      <div id="evento-markdown1" class="show-list-numbers-and-dots">
        <p style="color:#000000;">descrption</p>
      </div>
      <div id="evento-markdown2" class="show-list-numbers-and-dots">
        <p style="color:#000000;">https://www.atrapalo.com.co/entradas/toc-toc-una-comedia-obsesiva-y-compulsiva_e4792875/</p>
      </div>
    </div>
    <div id="evento-markdown3" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Share</strong>
      </p>
    </div>
    <button id="evento-button15" class="button button-positive  button-block">Twitear</button>
    <button id="evento-button16" class="button button-positive  button-block">Compartir</button>
  </ion-content>
</ion-view>